<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fact_express">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!--android:theme="@style/Theme.Design.Light"-->
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_secutiry_config"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar.Bridge"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic">
        <activity
            android:name="com.example.fact_express.Actividades.Servidor"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.example.fact_express.Actividades.Listar_ventas"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_ProductosVenta"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_ClientesVenta"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_venta"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_Producto"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_Productos"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_Productos"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_Clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_Clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_Clientes"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_PE"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_PE"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_PE"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_Timbrado"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registar_Timbrado"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_Timbrado"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.ListarUM"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_UM"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_UM"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_iva"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_iva"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_IVA"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_Division"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_Division"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_Division"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_Empresa"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_Empresa"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_Empresa"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_Ciudad"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_Departamento"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_Departamento"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_Ciudad"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_Ciudad"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Opciones_Mantenimiento"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_Departamento"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.MenuPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Registrar_Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Listar_Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.Actividades.Editar_Usuario"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.fact_express.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>